/* #slowlyShow {
    color: rgb(235, 235, 235);
    /*font-family: "Courier"; 
    font-size: 3.5em;
    margin: 10px 0 0 16px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 6s steps(60, end);
}
*/


.typewriter {
    
    text-decoration: none;
}

.openPage a {
    font-size: 3em;
}

.openPage {
    margin: 0;
    position: relative;
    
    background-image: url('../img/mountain_1.png');
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 2%;
    max-height: 1300px;
    opacity: 1;
    z-index: 2;
    min-height: 600px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 10%;
    padding-right: 10%;
    width: auto;
    box-shadow: 0px 0px 8px 6px rgba(20,20,20,0.5);
    margin-left: -.3%;
    margin-right: -.3%;
}

