#slowlyShow {
    color: rgb(235, 235, 235);
    font-family: "Courier";
    font-size: 3.5em;
    margin: 10px 0 0 16px;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 6s steps(60, end);
}

@keyframes type {
    from {
        width: 0;
    }
}